* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px; /*1em = 16px*/
	text-align: center;
	position: relative;
}

header {	
	padding: 0 500px;
}

section {
    padding: 10px;
}

main {
	
}


h1{
	font-weight: 900px;
	font-size:60px;
	text-align:center;
	color: gray;
	margin:200px 0;
}

h2{
	font-weight: 400px;
	font-size:2em;
	text-align:center;
	color: gray;
	margin:auto;
	padding-top: 20px;
}

h3{
	font-weight: 200px;
	font-size:1.5em;
	text-align:center;
	color: gray;
	margin:auto;
	padding-top: .5em;
}

p {
	font-size:1em;
	line-height: 1.5em;
}

a {
	color: #2C3E50;
	text-decoration: none;
}

nav{
	margin: auto;
}

img {
	width: 100%;
}

main {
	
}

ul, ol {
	padding: 0px;
	text-align: none;
}

footer {
	background-color: #eee;
	padding: 20px;
	text-align: center;
}


ul {
	margin: 0;
}


.alignleft {
	text-align: none;
}

.intro{
 	width:30em;
 	margin:auto;
}

.showers {
	width:30em;
 	margin:2em auto;

}

#bigimage{
    background: url(https://franspin.github.io/unit_3/images/shower001.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    height: 750px;
    padding: 20px 0;
}


/*#lander{
	background:url(../assets/carina-nebula.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:750px;
	padding:20px 0;
}*/


#test01 {
	padding: none;
}

#slogan {
	font-style: italic;
}

hr {
  width: 400px;
  color: #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
}


